.header__container {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background-color: white;
	-webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 10px 25px 0px rgba(0, 0, 0, 0.15);
	z-index: 2;
}

.header__navbar {
	min-height: 144px;
	position: relative;
	padding: 15px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #646464;
}

.navbar__brand {
	margin: 0 30px;
	width: 180px;
	z-index: 2;
}

.navbar__brand img {
	width: 100%;
}

.navbar__collapse {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}

.navbar__items {
	width: 100%;
}

.navbar__items ul {
	padding: 20px 0;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	flex-wrap: wrap;
	list-style: none;
}

.navbar__items ul li {
	padding: 5px 0;
}

.navbar__items ul li a {
	padding: 8px 12px;
	color: #222222;
	font-weight: bold;
	border-radius: 30px;
}

.navbar__items ul li a:hover {
	background-color: #f2f2f2;
}

.navbar__items ul li a:active,
.navbar__items ul li a:focus {
	border: 2px solid #004c8a;
}

@media (min-width: 768px) {
	.header__navbar {
		min-height: 80px;
		-ms-flex-wrap: inherit;
		flex-wrap: inherit;
	}

	.navbar__brand {
		width: 200px;
	}

	.navbar__collapse {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		position: absolute;
		margin: 0 auto;
	}

	.navbar__items ul {
		padding: 0;
	}
}
