<header class="header__container">
  <nav class="header__navbar">
    <div class="navbar__brand">
      <img src="../../../../assets/images/psn_logo.png" alt="">
    </div>
    <div class="navbar__collapse">
      <div class="navbar__items">
        <ul>
          <li>
            <a
              href="https://www.linkedin.com/in/jonasmzsouza"
              target="_blank"
              rel="noopener noreferrer"
              >Linkedin</a
            >
          </li>
          <li>
            <a
              href="https://github.com/jonasmzsouza"
              target="_blank"
              rel="noopener noreferrer"
              >Github</a
            >
          </li>
          <li>
            <a
              href="https://jonasmzsouza.github.io/"
              target="_blank"
              rel="noopener noreferrer"
              >Portfólio</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
