<div class="info-resume__container">
	<div class="info-resume__section-title">
		<h2>Informações do jogo e jurídicas</h2>
	</div>
	<div class="info-resume__description">
		<p>
			Um épico mundo de fantasia sombria onde o destino da terra é decidido
			pelos poderosos Eikons e os Dominantes que os controlam. Essa é a história
			de Clive Rosfield, um guerreiro que recebeu o título de "Primeiro Escudo
			de Rosaria" e jurou proteger seu irmão mais novo, Joshua, o Dominante da
			Fênix. Em pouco tempo, Clive se envolverá em um grande tragédia e fará um
			juramento de vingança contra o Eikon Ifrit, uma misteriosa entidade que
			traz calamidade por onde passa.
		</p>
	</div>
	<div class="info-resume__specifications-license">
		<div class="info-resume__specifications">
			<dl class="specifications__list">
				<dt>Plataforma:</dt>
				<dd>PS5</dd>
				<dt>Lançamento:</dt>
				<dd>22/6/2023</dd>
				<dt>Distribuidora:</dt>
				<dd>SQUARE ENIX CO. LTD.</dd>
				<dt>Gênero:</dt>
				<dd>Ação, RPG</dd>
			</dl>
		</div>
		<div class="info-resume__license">
			<p>
				É preciso ter uma conta para usar os recursos online, que estão sujeitos
				aos termos de serviço e à política de privacidade aplicável
				(playstationnetwork.com/terms-of-service e
				playstationnetwork.com/privacy-policy).
			</p>
			<br />
			<p>
				Software sujeito à licença e à garantia limitada
				(us.playstation.com/softwarelicense/br).
			</p>
			<br />
			<p>
				Você pode baixar esse conteúdo e reproduzi-lo no console PS5 principal
				associado à sua conta (pela configuração “Compartilhamento do console e
				Jogo offline”) e em outros consoles PS5 ao fazer login com essa conta.
			</p>
		</div>
	</div>
	<div class="info-resume__rights">
		<p>
			© 2023 SQUARE ENIX CO., LTD. All Rights Reserved. LOGO ILLUSTRATION:©2020
			YOSHITAKA AMANO FINAL FANTASY, SQUARE ENIX and their respective logos are
			trademarks or registered trademarks of Square Enix Holdings Co., Ltd.
		</p>
	</div>
</div>
