<div class="info-resume__container">
	<div class="info-resume__section-title">
		<h2>Informações do jogo e jurídicas</h2>
	</div>
	<div class="info-resume__description">
		<p>
			{{ shortDescription }}
		</p>
	</div>
	<div class="info-resume__specifications-license">
		<div class="info-resume__specifications">
			<dl class="specifications__list">
				<dt>Plataforma:</dt>
				<dd>
					<span *ngFor="let platform of platforms">{{ platform.name }}, </span>
				</dd>
				<dt>Lançamento:</dt>
				<dd>{{ release }}</dd>
				<dt>Distribuidora:</dt>
				<dd>{{ distributor }}</dd>
				<dt>Gênero:</dt>
				<dd>
					<span *ngFor="let genre of genres">{{ genre.name }}, </span>
				</dd>
			</dl>
		</div>
		<div class="info-resume__license">
			<p>
				É preciso ter uma conta para usar os recursos online, que estão sujeitos
				aos termos de serviço e à política de privacidade aplicável
				(playstationnetwork.com/terms-of-service e
				playstationnetwork.com/privacy-policy).
			</p>
			<br />
			<p>
				Software sujeito à licença e à garantia limitada
				(us.playstation.com/softwarelicense/br).
			</p>
			<br />
			<p>
				Você pode baixar esse conteúdo e reproduzi-lo no console PS5 principal
				associado à sua conta (pela configuração “Compartilhamento do console e
				Jogo offline”) e em outros consoles PS5 ao fazer login com essa conta.
			</p>
		</div>
	</div>
	<div class="info-resume__rights">
		<p>
			{{ rights }}
		</p>
	</div>
</div>
