<div class="preview__container">
	<div class="preview__items">
		<div class="preview__item">
			<app-game-card></app-game-card>
		</div>
		<div class="preview__item">
			<app-game-card></app-game-card>
		</div>
		<div class="preview__item">
			<app-game-card></app-game-card>
		</div>
		<div class="preview__item">
			<app-game-card></app-game-card>
		</div>
		<div class="preview__item">
			<app-game-card></app-game-card>
		</div>
		<div class="preview__item">
			<app-game-card></app-game-card>
		</div>
		<div class="preview__item">
			<app-game-card></app-game-card>
		</div>
	</div>
	<div class="preview__bottom">
	</div>
</div>
