.button__link {
	padding: 10px 12px;
	color: #0068bd;
	font-size: 1rem;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 0.5px;
}

.button__link:hover {
	background-color: #f2f2f2;
	color: #004c8a;
	border-radius: 30px;
}

@media (min-width: 1400px) {
	.button__link {
		font-size: 1.1rem;
	}
}
