.footer__container {
	min-height: 200px;
	position: relative;
	padding: 15px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #003697;
	color: white;
}

.footer__brand {
	margin: 20px auto;
	width: 60px;
	z-index: 2;
}

.footer__brand img {
	width: 100%;
}

.footer__items {
	width: 100%;
}

.footer__items ul {
	padding: 20px 0;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	flex-wrap: wrap;
	list-style: none;
}

.footer__items ul li {
	padding: 5px 0;
}

.footer__items ul li a {
	padding: 8px 12px;
	color: white;
	font-weight: bold;
	border-radius: 30px;
}

.footer__items ul li a:hover {
	color: #d6d6d6;
}

@media (min-width: 768px) {
	.footer__container {
		-ms-flex-wrap: inherit;
		flex-wrap: inherit;
	}

	.footer__brand {
		margin: 0 30px;
		width: 80px;
	}

	.footer__items {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		position: absolute;
		margin: 0 auto;
	}

	.footer__items ul {
		padding: 0;
	}
}
