.game-page__container {
	position: relative;
	margin-top: 144px;
	background-color: #090a0a;
	color: white;
}

.game-page__background,
.game-page__info-section {
	width: 100%;
}

.game-page__info-section {
	position: absolute;
	padding: 0 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	top: calc(270px - 50px);
}

.game-page__info-card,
.game-page__info-compatibilities {
	width: 100%;
}

.game-page__resume-section {
	width: 100vw;
	margin-top: 350px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
}

@media (min-width: 348px) {
	.game-page__resume-section {
		margin-top: 320px;
	}
}

@media (min-width: 576px) {
	.game-page__resume-section {
		width: 90vw;
	}
}

@media (min-width: 768px) {
	.game-page__container {
		margin-top: 80px;
	}

	.game-page__info-section {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		padding: 0 35px;
		top: calc(50vh - 150px);
	}

	.game-page__info-card {
		width: 50%;
		margin-left: 25px;
	}

	.game-page__info-compatibilities {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;
	}

	.game-page__resume-section {
		width: 80vw;
		margin-top: 180px;
		padding: 0 35px;
	}
}

@media (min-width: 992px) {
	.game-page__info-card {
		width: 40%;
	}

	.game-page__resume-section {
		width: 70vw;
	}
}

@media (min-width: 1200px) {
	.game-page__info-card {
		width: 32%;
	}

	.game-page__resume-section {
		width: 60vw;
		margin-top: 250px;
	}
}

@media (min-width: 1400px) {
	.game-page__info-card {
		width: 620px;
	}

	.game-page__resume-section {
		width: 50vw;
	}
}
