<div class="treadmill__container">
	<swiper-container appSwiper [config]="config">
		<swiper-slide>
			<app-game-card></app-game-card>
		</swiper-slide>
		<swiper-slide>
			<app-game-card></app-game-card>
		</swiper-slide>
		<swiper-slide>
			<app-game-card></app-game-card>
		</swiper-slide>
		<swiper-slide>
			<app-game-card></app-game-card>
		</swiper-slide>
		<swiper-slide>
			<app-game-card></app-game-card>
		</swiper-slide>
		<swiper-slide>
			<app-game-card></app-game-card>
		</swiper-slide>
		<swiper-slide>
			<app-game-card></app-game-card>
		</swiper-slide>
		<swiper-slide>
			<app-game-card></app-game-card>
		</swiper-slide>
		<swiper-slide>
			<app-game-card></app-game-card>
		</swiper-slide>
		<swiper-slide>
			<app-game-card></app-game-card>
		</swiper-slide>
	</swiper-container>
</div>
