<div class="game-card__container">
	<div class="game-card__cover">
		<img
			src="https://image.api.playstation.com/vulcan/ap/rnd/202306/1301/98af148cb3f2469d4268eb15b235c255eeeec1757eda1fd6.png"
			alt=""
		/>
		<div class="game-card__cover__tags">
			<span>PS5</span>
		</div>
	</div>
	<div class="game-card__body">
		<div class="game-card__body__type">
			<span>PRE-ORDER</span>
		</div>
		<div class="game-card__body__title">
			<h2>Marvel's Spider-Man 2 Edição Digital Deluxe</h2>
		</div>
		<div class="game-card__body__price">
			<span>R$399,50</span>
		</div>
	</div>
</div>
