<div class="game-card__container">
	<a [routerLink]="['games', game.id]">
		<div class="game-card__cover">
			<img src="{{ game.imgCoverUrl }}" alt="{{ game.name }}" />
			<ng-template [ngIf]="isEnableBody">
				<div class="game-card__cover__platforms">
					<span *ngFor="let platform of game.platforms">{{
						platform.name
					}}</span>
				</div>
			</ng-template>
		</div>
		<ng-template [ngIf]="isEnableBody">
			<div class="game-card__body">
				<div class="game-card__body__type" *ngIf="game.type == 'PRE-ORDER'">
					<span>{{ game.type }}</span>
				</div>
				<div class="game-card__body__title">
					<h2>{{ game.name }}</h2>
				</div>
				<div class="game-card__body__price" *ngIf="game.type == 'PRE-ORDER'">
					<span>{{ game.price }}</span>
				</div>
			</div>
		</ng-template>
	</a>
</div>
